<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.msk.adopt4k" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light.NoTitleBar" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="5077000" />

        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name=".ProfileActivity"
            android:label="@string/title_activity_profile" >
        </activity>
        <activity
            android:name=".FindOzActivity"
            android:label="@string/title_activity_find_oz"
            android:windowSoftInputMode="adjustPan|stateUnchanged" >
        </activity>
        <activity
            android:name=".SelectOzActivity"
            android:label="@string/title_activity_select_oz" >
        </activity>
        <activity
            android:name=".AdoptOzActivity"
            android:label="@string/title_activity_adopt_oz" >
        </activity>
        <activity
            android:name=".HistoryActivity"
            android:label="@string/title_activity_history" >
        </activity>
        <activity
            android:name=".YearSelectActivity"
            android:label="@string/title_activity_year_select" >
        </activity>
        <activity
            android:name=".HistoryItemActivity"
            android:label="@string/title_activity_history_item" >
        </activity>
    </application>

</manifest>
